.aside__content {
  padding: 0 13px 24px 14px;
  height: calc(100vh - 119px);
  overflow-y: auto;
    
  &::-webkit-scrollbar {
    width: 8px;
  }
   
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba($black, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 2px;
  }
   
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
  }

  @include desktop-s {
    height: 100%;
    padding: 14px 24px 16px;
    overflow-y: visible;

    > div {
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

      &.shown {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @include tablet {
    height: 100%;
    padding: 14px 24px 16px;
    overflow-y: visible;

    > div {
      opacity: 0;
      transform: translateX(122%);
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

      &.shown {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @include mobile {
    height: 100%;
    padding: 14px 14px 16px;
    overflow-y: visible;

    > div {
      opacity: 0;
      transform: translateX(122%);
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

      &.shown {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.aside__buttons {
  display: flex;
  gap: 26px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 450px;

  @include desktop-xl {
    display: none;
  }

  @include tablet {
    padding-right: 0;
    justify-content: space-around;
  }

  @include mobile {
    gap: 14px;
    padding-right: 0;
    justify-content: space-between;
  }
}

.aside__button {
  min-height: 50px;
  min-width: 180px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: $bg-light;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;

  

  &.active {
    background-color: rgba($blue, 0.22);
  }

  @include desktop {
    &:hover {
      background-color: rgba($blue, 0.1);
    }
  }

  @include mobile {
    width: 100%;
    min-width: 90px;
    padding: 10px;
  }
}

.aside__item {
  flex: 1;
}

.lastest {
  position: relative;
  padding: 18px 24px 26px 20px;
  margin-bottom: 24px;

  @include desktop-s {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include tablet {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include mobile {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.lastest__title,
.message__title {
  padding-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.lastest__menu,
.message__menu,
.contact__menu,
.contact__chat,
.contact__search {
  @include desktop {
    img {
      transition: opacity 0.3s  ease-in-out;
    }

    &:hover img {
      opacity: 0.5;
    }
  }
}

.lastest__menu {
  position: absolute;
  top: 17px;
  right: 25px;
}

.lastest__list {
  padding-left: 43px;
  margin-bottom: 8px;
}

.lastest__item {
  position: relative;
  margin-bottom: 24px;

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -43px;
    width: 12px;
    height: 12px;
    background-color: $white;
    border: 2px solid $blue;
    border-radius: 12px;
  }

  &:not(:last-of-type)::before {
    content: '';
    position: absolute;
    top: 16px;
    left: -37px;
    width: 1px;
    height: calc(100% + 12px);
    background-color: rgb(221, 221, 221);

  }
}

.lastest__text {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.lastest__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text;
}

.lastest__button,
.message__button {
  position: relative;
  width: 100%;
  height: 38px;
  padding: 10px;
  background-color: $blue;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $white;
  overflow: hidden;

  @include desktop {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
      transition-property: left, box-shadow;
      transition-duration: 0.65s;
      transition-timing-function: ease-in-out;
    }

    &:hover {
      box-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);

      &::before {
        left: 100%;
      }
    }
  }
}

.message {
  position: relative;
  padding: 24px 24px 24px 20px;
  margin-bottom: 23px;

  @include desktop-s {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include tablet {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include mobile {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.message__menu {
  position: absolute;
  top: 23px;
  right: 24px;
}

.message__list {
  margin-bottom: 8px;
}

.message__item {
  display: flex;
  gap: 13px;
  width: 100%;
  max-height: 100%;
  padding-bottom: 24px;

  &:not(:last-of-type) {
    position: relative;
    margin-bottom: 24px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(221, 221, 221);
    }
  }
}

.message__content {
  flex-basis: 100%;
}

.message__name {
  margin-bottom: 6px;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s ease-in-out;

	&:hover {
		@include desktop {
			text-decoration-color: inherit;
		}
	}
}

.message__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $secondary-text;
}

.contact {
  position: relative;
  padding: 24px 24px 19px 20px;

  @include desktop-s {
    position: absolute;
    right: 26px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include tablet {
    position: absolute;
    right: 26px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    background-color: $white;
    border-radius: 12px 12px 0 0;
  }

  @include mobile {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: $white;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.contact__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.contact__menu {
  position: absolute;
  top: 25px;
  right: 24px;
}

.contact__form {
	position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.contact__form label {
	position: relative;
	display: inline-flex;
	width: 100%;
}

.contact__form .contact__label {
	position: absolute;
	top: 0;
  bottom: 0;
  left: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
  color: $secondary-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.contact__form input {
	width: 100%;
	padding: 5px 10px 5px 59px;
	height: 48px;
  background-color: $bg-light;
	font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $secondary-text;
	border-radius: 12px;
	border: none;

	&:valid,
	&:focus {
		~ .contact__label {
			opacity: 0;
		}
	}
}

.contact__search {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 12px 14px 9px 21px;
  transform: translateY(-50%);
}



.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 100%;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.contact__name {
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  margin-right: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s ease-in-out;

	&:hover {
		@include desktop {
			text-decoration-color: inherit;
		}
	}
}

.contact__chat {
  margin-right: 8px;
}