.header__wrap {
  display: flex;
  position: relative;
  max-width: $desktop;
  height: 100%;
  margin: 0 auto;
}

.header__logo {
  padding: 30px 41px 0 75px;

  img {
    @include mobile {
      max-width: 130px;
      max-height: 35px;
    }
  }

  @include desktop {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;

    &.element--shown {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @include desktop-xs {
    padding: 30px 22px 0 27px;
  }

  @include tablet {
    padding: 22px 9px 0 96px;
  }

  @include mobile {
    padding: 30px 12px 0 82px;
  }
}

.header__content {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-basis: 100%;
  padding: 24px;

  @include mobile {
    gap: 24px;
    padding: 24px 14px 24px 12px;
  }
}

.header__search {
	position: relative;
  max-width: 660px;
  width: 100%;

  @include desktop-xs {
    max-width: calc(50vw - 280px);
  }

  @include mobile {
    display: none;
  }
}

.header__search label {
	position: relative;
	display: inline-flex;
	width: 100%;
}

.header__search .header__label {
	position: absolute;
	top: 0;
  bottom: 0;
  left: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
  color: $secondary-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.header__search input {
	width: 100%;
	padding: 5px 10px 5px 59px;
	height: 48px;
  background-color: $bg-light;
	font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $secondary-text;
	border-radius: 12px;
	border: none;

	&:valid,
	&:focus {
		~ .header__label {
			opacity: 0;
		}
	}
}

.header__submit {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 12px 14px 9px 21px;
  transform: translateY(-50%);
  
  @include desktop {
    img {
      transition: opacity 0.3s ease-in-out;
    }

    &:hover img {
      opacity: 0.5;
    }
  }
}

.header__notifications {
  position: relative;
  height: 24px;
  width: 24px;
  padding: 0;
  margin-left: auto;
  
  @include desktop {
    img {
      transition: opacity 0.3s ease-in-out;
    }

    &:hover img {
      opacity: 0.5;
    }
  }
}

.header__dot {
  position: absolute;
  top: -4px;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: $red;
}

.header__account {
  @include desktop {
    img {
      transition: opacity 0.3s ease-in-out;
    }

    &:hover img {
      opacity: 0.7;
    }
  }
}


.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: $blue;
  border-radius: 6px;
  cursor: pointer;

  @include desktop {
    display: none;
  }

  @include mobile {
    left: 14px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
  }
}

.hamburger-menu {
  position: relative;
  width: 50%;

  .hamburger-menu__line {
    height: 3px;
    background-color: $white;
    border-radius: 2px;
  }

  .hamburger-menu__line:first-child,
  .hamburger-menu__line:last-child {
    position: absolute;
    width: 100%;
    transition: all 0.1s ease-out;
  }
}

.hamburger-menu__line {
  &:not(:first-child):not(:last-child) {
    animation-name: hamburger;
    animation-duration: 0.15s;
    animation-delay: 0.15s;
    transform: scaleX(0);
  }

  &,
  &:first-child,
  &:last-child {
    animation-fill-mode: forwards;
  }

  &:first-child,
  &:last-child {
    transform-origin: 50%;
    animation-duration: 0.3s;
  }

  &:first-child {
    top: 0;
    animation-name: hamburgerFirst;
    transform: rotate(45deg);
  }

  &:last-child {
    top: 0;
    animation-name: hamburgerLast;
    transform: rotate(-45deg);
  }
}

.hamburger-menu--open .hamburger-menu__line {
  &:not(:first-child):not(:last-child) {
    animation-name: hamburgerOpen;
    transform: scaleX(100%);
  }

  &:first-child {
    top: -10px;
    transform: rotate(0);
    animation-name: hamburgerFirstOpen;
  }

  &:last-child {
    top: 10px;
    transform: rotate(0);
    animation-name: hamburgerLastOpen;
  }
}

@keyframes hamburger {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes hamburgerOpen {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes hamburgerFirst {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(0);
  }
}

@keyframes hamburgerLast {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: -10px;
    transform: rotate(0);
  }
}

@keyframes hamburgerFirstOpen {
  0% {
    top: 10px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(45deg);
  }
}

@keyframes hamburgerLastOpen {
  0% {
    top: -12px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
