body {
  position: relative;
  max-width: $desktop;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: $white;
  z-index: 2;
}

.main {
  max-width: $desktop;
  min-height: 100vh;
  padding-top: 95px;
  padding-bottom: 80px;
  padding-left: 317px;

  @include desktop-xl {
    min-height: auto;
    padding-right: 439px;
    padding-bottom: 0;
  }

  @include desktop-xs {
    padding-left: 90px;
  }

  @include tablet {
    padding-left: 0;
  }
  
  @include mobile {
    padding-left: 0;
  }
}

.navigation {
  position: fixed;
  top: 95px;
  left: 0;
  width: 317px;
  height: calc(100vh - 95px);
  padding-top: 44px;
  background-color: $white;
  z-index: 2;

  @include desktop-xl {
    left: calc(50vw - 960px);
    box-sizing: content-box;
  }

  @include desktop-xs {
    width: 90px;
    transition: width 0.3s ease-in-out,  box-shadow 0.15s ease-in-out;

    &:hover {
      width: 250px;
      box-shadow: 10px 5px 12px -12px rgba($black, 0.26);
    }
  }

  @include tablet {
    transition: left 0.3s ease-in-out;
    left: -100%;
    width: 100%;

    &.navigation--open {
      left: 0;
    }
  }
  
  @include mobile {
    transition: left 0.3s ease-in-out;
    left: -100%;
    width: 100%;

    &.navigation--open {
      left: 0;
    }
  }
}

.aside {
  position: fixed;
  bottom: 0;
  padding-left: 317px;
  width: 100%;
  height: 80px;
  background-color: $white;
  z-index: 1;

  @include desktop-xl {
    top: 95px;
    right: calc(50vw - 960px);
    bottom: unset;
    width: 439px;
    height: calc(100vh - 119px);
    padding-top: 24px;
    padding-left: 0;
    box-sizing: content-box;
  }

  @include desktop-xs {
    padding-left: 90px;
  }

  @include tablet {
    padding-left: 0;
  }
  
  @include mobile {
    padding-left: 0;
  }
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 300px;
  height: 70px;
  background-color: rgb(153, 153, 153, 0.9);
  font-size: 18px;
  color: $white;
  border-radius: 12px;
  opacity: 0;
  transform: translateX(-450%);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.1), opacity 0.15s ease-in-out;
  pointer-events: none;
  z-index: 3;

  &.toast--show {
    opacity: 1;
    transform: translateX(-50%);
  }
}
