.main__content {
  padding: 24px;
  background-color: $bg-light;

  @include mobile {
    padding: 20px 14px;
  }
}

.main__heading {
  margin-bottom: 25px;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $black;
}

.main__header {
  display: flex;
  justify-content: space-between;
  gap: 2.236%;
  margin-bottom: 25px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 31.8425%;
  padding: 23px 24px 24px;
  background-color: $white;
  border-radius: 12px;

  @include tablet {
    padding: 14px;
  }
}

.card--blue {
  color: $blue;
}

.card--yellow {
  color: $yellow;
}

.card--red {
  color: $red;
}

.card__image {
  max-height: 50px;
  margin-right: 16px;

  @include tablet {
    margin-right: 8px;
  }
}

.card__content {
  margin-right: auto;
}

.card__title {
  display: block;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text;
}

.card__value {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: $tertiary-text;
}

.card__increment {
  min-width: 66px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: inherit;

  @include tablet {
    min-width: auto;
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px 2.15%;
  width: 100%;
  max-height: 100%;
  margin-bottom: 25px;

  @include tablet {
    gap: 20px 2.7%;
  }
}

.dashboard__item {
  flex-basis: 33.6%;
  position: relative;
  min-height: 377px;
  padding: 24px 23px 10px;
  background-color: #fff;
  border-radius: 12px;

  @include tablet {
    flex-basis: 48.61%;

    &:nth-last-child(2) {
      order: 4;
    }
    &:last-child {
      order: 3;
    }
  }

  @include mobile {
    flex-basis: 100%;
    padding: 10px;
  }
}

.dashboard__item--wide {
  flex-basis: 64.25%;

  @include tablet {
    flex-basis: 100%;
  }

  @include mobile {
    flex-basis: 100%;
  }
}

.highcharts-title {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 27px;
  color: $primary-text;
}

.dashboard__areaspline {
  width: calc(100% - 5px);
  height: 286px;
}

.dashboard__active {
  position: absolute;
  top: 70px;
  left: 34px;
  width: 58px;
  height: 26px;
  background-color: $blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  color: $white;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    @include desktop {
      opacity: 0.7;
    }
  }
}

.dashboard__description {
  display: flex;
  gap: 20px;
  padding: 4px 0 6px 20px;
  max-height: 100%;

  & > div {
    flex: 1;
  }

  @include mobile {
    padding: 4px 0 0 20px;
  }
}

.dashboard__text {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text;

  @include mobile {
    margin-bottom: 6px;
  }
}

.dashboard__value {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $primary-text;
}

.dashboard__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $blue;
  text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s ease-in-out;

	&:hover {
		@include desktop {
			text-decoration-color: inherit;
		}
	}
}