
.person-modal {
	max-width: 550px;
	width: 100%;
	padding: 36px;
	background-color: $white;
	border: 0;
	border-radius: 12px;
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.24);
	overflow: hidden;

	@include mobile {
		inset: auto 0 0;
		min-width: 100%;
		margin: 0;
		padding: 30px 22px 36px;
		border: 0;
		border-radius: 12px 12px 0 0;
		box-shadow: 0 100px 0 $white, 0 2px 40px 0 rgba(0, 0, 0, 0.24);
	}

	&[open] {
		animation: fade-in 0.3s ease-in-out;

		@include mobile {
			animation: slide-up 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.1);
		}
	}
}

.person-modal > div {
	display: none;
}

.person-modal > div.active {
	display: block;
}

.person-modal::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.person-modal.hidden {
	animation: fade-out 0.3s ease-in-out;

	@include mobile {
		animation: slide-down 0.5s;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(100%)
	}
}

@keyframes slide-down {
	to {
		transform: translateY(100%)
	}
}

.btn--close {
	position: absolute;
	top: 32px;
	right: 25px;

  @include desktop {
	  opacity: 1;
	  transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
	
	@include mobile {
		top: 19px;
		right: 18px;
	}
}

.dialog-close-desktop {

	@include mobile {
		display: none;
	}
}

.dialog-close-mobile {
	display: none;
		
	@include mobile {
		display: block;
	}
}

.person-modal__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.person-modal__name {
  margin-left: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;

  @include mobile {
    margin-left: 30px;
  }
}

.person-modal__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $secondary-text;
}

.person-modal__image--desktop {
  @include mobile {
    display: none;
  }
}

.person-modal__image--mobile {
  display: none;

  @include mobile {
    display: block;
  }
}