.navigation__list {
  height: calc(100vh - 139px);
  padding: 0 24px 12px;
  overflow-y: auto;
    
  &::-webkit-scrollbar {
    width: 8px;
  }
   
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba($black, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 2px;
  }

  @include desktop {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
   
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(101, 101, 101);
    }

    &.element--shown {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @include desktop-xs {
    padding: 0 18px 14px;
    overflow-x: hidden;
  }

  @include tablet {
    padding: 0 70px 20px;
  }
}

.navigation__item {
  min-height: 50px;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 9px 31px;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  svg path {
    transition: fill 0.3s ease-in-out;
  }

  @include desktop-xs {
    padding: 9px 11px;
  }
}

.navigation__link:hover {
  @include desktop {
    background-color: rgba($blue, 0.05);
    svg path {
      fill: $blue;
    }
    .navigation__text:not(.navigation__item.active .navigation__text) {
      font-weight: 700;
      color: $blue;
      animation: text-weight 0.3s ease-in-out;
    }
  }
}

.navigation__item.active .navigation__link {
  background-color: rgba($blue, 0.05);
  svg path {
    fill: $blue;
  }
  .navigation__text {
    font-weight: 700;
    color: $blue;
  }
}

.navigation__svg-wrap {
  height: 32px;
}

.navigation__text {
  margin-left: 48px;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $secondary-text;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
  animation: text-weight-out 0.3s ease-in-out;

  @include desktop-xs {
    margin-left: 30px;
  }
}

@keyframes text-weight {
  0% {
    font-weight: 400;
  }
  50% {
    font-weight: 500;
  }
  50% {
    font-weight: 600;
  }
  100% {
    font-weight: 700;
  }
}

@keyframes text-weight-out {
  0% {
    font-weight: 700;
  }
  50% {
    font-weight: 600;
  }
  50% {
    font-weight: 500;
  }
  100% {
    font-weight: 400;
  }
}
