html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: $font-primary;
	color: $primary-text;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
nav ul, nav ol, ul, li {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
	cursor: pointer;
}
button {
	padding: 0;
	background-color: inherit;
	font-family: $font-primary;
	border: none;
  cursor: pointer;
}
input {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
}
