.reviews {
  width: 100%;
  
  @include desktop {
    &:hover .swiper-scrollbar {
      transform: translateY(0);
    }
  }
}

.reviews__heading {
  margin-bottom: 24px;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.reviews__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.swiper-scrollbar {
  @include desktop {
    transform: translateY(10px);
    transition: transform 0.3s ease-in;
  }
}

.review {
  // flex-basis: 31.66%;
  padding: 20px 25px;
  background-color: $white;
  border-radius: 12px;
  user-select: none;
}

.review__header {
  display: flex;
  width: 100%;
  max-height: 100%;
  margin-bottom: 35px;
}

.review__image {
  max-height: 42px;
}

.review__info {
  margin-left: 13px;
}

.review__name {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s ease-in-out;

	&:hover {
		@include desktop {
			text-decoration-color: inherit;
		}
	}
}

.review__ago {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $secondary-text
}

.review__text {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.review__stars {
  margin-bottom: 18px;

  img {
    margin-right: 8px;
  }
}