$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$bg-light: #F4F7F9;
$blue: #56B5D2;
$red: #8365D7;
$yellow: #FC9680;
$primary-text: #333333;
$secondary-text: #98A4B5;
$tertiary-text: #303E65;
$white: #fff;
$black: #000;


// kevin powell : https://www.youtube.com/watch?v=mQYRWvIj0Yw&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=5