$tablet: 768px;
$desktop-xs: 1200px;
$desktop-s: 1484px;
$desktop: 1920px;

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop-xs - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-xs}) {
    @content;
  }
}

@mixin desktop-xs {
  @media (min-width: #{$desktop-xs}) and (max-width: #{$desktop-s - 1px}) {
    @content;
  }
}

@mixin desktop-s {
  @media (min-width: #{$desktop-xs}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop}) {
    @content;
  }
}