html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "DM Sans", sans-serif;
  color: #333333;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

nav ul, nav ol, ul, li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: inherit;
  font-family: "DM Sans", sans-serif;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  position: relative;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: #fff;
  z-index: 2;
}

.main {
  max-width: 1920px;
  min-height: 100vh;
  padding-top: 95px;
  padding-bottom: 80px;
  padding-left: 317px;
}
@media (min-width: 1920px) {
  .main {
    min-height: auto;
    padding-right: 439px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .main {
    padding-left: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .main {
    padding-left: 0;
  }
}

.navigation {
  position: fixed;
  top: 95px;
  left: 0;
  width: 317px;
  height: calc(100vh - 95px);
  padding-top: 44px;
  background-color: #fff;
  z-index: 2;
}
@media (min-width: 1920px) {
  .navigation {
    left: calc(50vw - 960px);
    box-sizing: content-box;
  }
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .navigation {
    width: 90px;
    transition: width 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .navigation:hover {
    width: 250px;
    box-shadow: 10px 5px 12px -12px rgba(0, 0, 0, 0.26);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    transition: left 0.3s ease-in-out;
    left: -100%;
    width: 100%;
  }
  .navigation.navigation--open {
    left: 0;
  }
}
@media (max-width: 767px) {
  .navigation {
    transition: left 0.3s ease-in-out;
    left: -100%;
    width: 100%;
  }
  .navigation.navigation--open {
    left: 0;
  }
}

.aside {
  position: fixed;
  bottom: 0;
  padding-left: 317px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1;
}
@media (min-width: 1920px) {
  .aside {
    top: 95px;
    right: calc(50vw - 960px);
    bottom: unset;
    width: 439px;
    height: calc(100vh - 119px);
    padding-top: 24px;
    padding-left: 0;
    box-sizing: content-box;
  }
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .aside {
    padding-left: 90px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .aside {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .aside {
    padding-left: 0;
  }
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 300px;
  height: 70px;
  background-color: rgba(153, 153, 153, 0.9);
  font-size: 18px;
  color: #fff;
  border-radius: 12px;
  opacity: 0;
  transform: translateX(-450%);
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.1), opacity 0.15s ease-in-out;
  pointer-events: none;
  z-index: 3;
}
.toast.toast--show {
  opacity: 1;
  transform: translateX(-50%);
}

.navigation__list {
  height: calc(100vh - 139px);
  padding: 0 24px 12px;
  overflow-y: auto;
}
.navigation__list::-webkit-scrollbar {
  width: 8px;
}
.navigation__list::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.navigation__list::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 2px;
}
@media (min-width: 1200px) {
  .navigation__list {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
  }
  .navigation__list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
  }
  .navigation__list.element--shown {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .navigation__list {
    padding: 0 18px 14px;
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .navigation__list {
    padding: 0 70px 20px;
  }
}

.navigation__item {
  min-height: 50px;
}
.navigation__item:not(:last-of-type) {
  margin-bottom: 14px;
}

.navigation__link {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 9px 31px;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
.navigation__link svg path {
  transition: fill 0.3s ease-in-out;
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .navigation__link {
    padding: 9px 11px;
  }
}

@media (min-width: 1200px) {
  .navigation__link:hover {
    background-color: rgba(86, 181, 210, 0.05);
  }
  .navigation__link:hover svg path {
    fill: #56B5D2;
  }
  .navigation__link:hover .navigation__text:not(.navigation__item.active .navigation__text) {
    font-weight: 700;
    color: #56B5D2;
    animation: text-weight 0.3s ease-in-out;
  }
}

.navigation__item.active .navigation__link {
  background-color: rgba(86, 181, 210, 0.05);
}
.navigation__item.active .navigation__link svg path {
  fill: #56B5D2;
}
.navigation__item.active .navigation__link .navigation__text {
  font-weight: 700;
  color: #56B5D2;
}

.navigation__svg-wrap {
  height: 32px;
}

.navigation__text {
  margin-left: 48px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #98A4B5;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
  animation: text-weight-out 0.3s ease-in-out;
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .navigation__text {
    margin-left: 30px;
  }
}

@keyframes text-weight {
  0% {
    font-weight: 400;
  }
  50% {
    font-weight: 500;
  }
  50% {
    font-weight: 600;
  }
  100% {
    font-weight: 700;
  }
}
@keyframes text-weight-out {
  0% {
    font-weight: 700;
  }
  50% {
    font-weight: 600;
  }
  50% {
    font-weight: 500;
  }
  100% {
    font-weight: 400;
  }
}
.header__wrap {
  display: flex;
  position: relative;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
}

.header__logo {
  padding: 30px 41px 0 75px;
}
@media (max-width: 767px) {
  .header__logo img {
    max-width: 130px;
    max-height: 35px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
  }
  .header__logo.element--shown {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .header__logo {
    padding: 30px 22px 0 27px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    padding: 22px 9px 0 96px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    padding: 30px 12px 0 82px;
  }
}

.header__content {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-basis: 100%;
  padding: 24px;
}
@media (max-width: 767px) {
  .header__content {
    gap: 24px;
    padding: 24px 14px 24px 12px;
  }
}

.header__search {
  position: relative;
  max-width: 660px;
  width: 100%;
}
@media (min-width: 1200px) and (max-width: 1483px) {
  .header__search {
    max-width: calc(50vw - 280px);
  }
}
@media (max-width: 767px) {
  .header__search {
    display: none;
  }
}

.header__search label {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.header__search .header__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98A4B5;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.header__search input {
  width: 100%;
  padding: 5px 10px 5px 59px;
  height: 48px;
  background-color: #F4F7F9;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #98A4B5;
  border-radius: 12px;
  border: none;
}
.header__search input:valid ~ .header__label, .header__search input:focus ~ .header__label {
  opacity: 0;
}

.header__submit {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 12px 14px 9px 21px;
  transform: translateY(-50%);
}
@media (min-width: 1200px) {
  .header__submit img {
    transition: opacity 0.3s ease-in-out;
  }
  .header__submit:hover img {
    opacity: 0.5;
  }
}

.header__notifications {
  position: relative;
  height: 24px;
  width: 24px;
  padding: 0;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .header__notifications img {
    transition: opacity 0.3s ease-in-out;
  }
  .header__notifications:hover img {
    opacity: 0.5;
  }
}

.header__dot {
  position: absolute;
  top: -4px;
  right: 0;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #8365D7;
}

@media (min-width: 1200px) {
  .header__account img {
    transition: opacity 0.3s ease-in-out;
  }
  .header__account:hover img {
    opacity: 0.7;
  }
}

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #56B5D2;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .header__hamburger {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__hamburger {
    left: 14px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
  }
}

.hamburger-menu {
  position: relative;
  width: 50%;
}
.hamburger-menu .hamburger-menu__line {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.hamburger-menu .hamburger-menu__line:first-child,
.hamburger-menu .hamburger-menu__line:last-child {
  position: absolute;
  width: 100%;
  transition: all 0.1s ease-out;
}

.hamburger-menu__line:not(:first-child):not(:last-child) {
  animation-name: hamburger;
  animation-duration: 0.15s;
  animation-delay: 0.15s;
  transform: scaleX(0);
}
.hamburger-menu__line, .hamburger-menu__line:first-child, .hamburger-menu__line:last-child {
  animation-fill-mode: forwards;
}
.hamburger-menu__line:first-child, .hamburger-menu__line:last-child {
  transform-origin: 50%;
  animation-duration: 0.3s;
}
.hamburger-menu__line:first-child {
  top: 0;
  animation-name: hamburgerFirst;
  transform: rotate(45deg);
}
.hamburger-menu__line:last-child {
  top: 0;
  animation-name: hamburgerLast;
  transform: rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__line:not(:first-child):not(:last-child) {
  animation-name: hamburgerOpen;
  transform: scaleX(100%);
}
.hamburger-menu--open .hamburger-menu__line:first-child {
  top: -10px;
  transform: rotate(0);
  animation-name: hamburgerFirstOpen;
}
.hamburger-menu--open .hamburger-menu__line:last-child {
  top: 10px;
  transform: rotate(0);
  animation-name: hamburgerLastOpen;
}

@keyframes hamburger {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes hamburgerOpen {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes hamburgerFirst {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(0);
  }
}
@keyframes hamburgerLast {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: -10px;
    transform: rotate(0);
  }
}
@keyframes hamburgerFirstOpen {
  0% {
    top: 10px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(45deg);
  }
}
@keyframes hamburgerLastOpen {
  0% {
    top: -12px;
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}
.aside__content {
  padding: 0 13px 24px 14px;
  height: calc(100vh - 119px);
  overflow-y: auto;
}
.aside__content::-webkit-scrollbar {
  width: 8px;
}
.aside__content::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.aside__content::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 2px;
}
.aside__content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(101, 101, 101);
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .aside__content {
    height: 100%;
    padding: 14px 24px 16px;
    overflow-y: visible;
  }
  .aside__content > div {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }
  .aside__content > div.shown {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .aside__content {
    height: 100%;
    padding: 14px 24px 16px;
    overflow-y: visible;
  }
  .aside__content > div {
    opacity: 0;
    transform: translateX(122%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }
  .aside__content > div.shown {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 767px) {
  .aside__content {
    height: 100%;
    padding: 14px 14px 16px;
    overflow-y: visible;
  }
  .aside__content > div {
    opacity: 0;
    transform: translateX(122%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }
  .aside__content > div.shown {
    opacity: 1;
    transform: translateX(0);
  }
}

.aside__buttons {
  display: flex;
  gap: 26px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 450px;
}
@media (min-width: 1920px) {
  .aside__buttons {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .aside__buttons {
    padding-right: 0;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .aside__buttons {
    gap: 14px;
    padding-right: 0;
    justify-content: space-between;
  }
}

.aside__button {
  min-height: 50px;
  min-width: 180px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #F4F7F9;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}
.aside__button.active {
  background-color: rgba(86, 181, 210, 0.22);
}
@media (min-width: 1200px) {
  .aside__button:hover {
    background-color: rgba(86, 181, 210, 0.1);
  }
}
@media (max-width: 767px) {
  .aside__button {
    width: 100%;
    min-width: 90px;
    padding: 10px;
  }
}

.aside__item {
  flex: 1;
}

.lastest {
  position: relative;
  padding: 18px 24px 26px 20px;
  margin-bottom: 24px;
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .lastest {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lastest {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (max-width: 767px) {
  .lastest {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.lastest__title,
.message__title {
  padding-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

@media (min-width: 1200px) {
  .lastest__menu img,
  .message__menu img,
  .contact__menu img,
  .contact__chat img,
  .contact__search img {
    transition: opacity 0.3s ease-in-out;
  }
  .lastest__menu:hover img,
  .message__menu:hover img,
  .contact__menu:hover img,
  .contact__chat:hover img,
  .contact__search:hover img {
    opacity: 0.5;
  }
}

.lastest__menu {
  position: absolute;
  top: 17px;
  right: 25px;
}

.lastest__list {
  padding-left: 43px;
  margin-bottom: 8px;
}

.lastest__item {
  position: relative;
  margin-bottom: 24px;
}
.lastest__item::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -43px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #56B5D2;
  border-radius: 12px;
}
.lastest__item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -37px;
  width: 1px;
  height: calc(100% + 12px);
  background-color: rgb(221, 221, 221);
}

.lastest__text {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.lastest__date {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #98A4B5;
}

.lastest__button,
.message__button {
  position: relative;
  width: 100%;
  height: 38px;
  padding: 10px;
  background-color: #56B5D2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .lastest__button::before,
  .message__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition-property: left, box-shadow;
    transition-duration: 0.65s;
    transition-timing-function: ease-in-out;
  }
  .lastest__button:hover,
  .message__button:hover {
    box-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  }
  .lastest__button:hover::before,
  .message__button:hover::before {
    left: 100%;
  }
}

.message {
  position: relative;
  padding: 24px 24px 24px 20px;
  margin-bottom: 23px;
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .message {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .message {
    position: absolute;
    right: 26px;
    bottom: 70px;
    max-width: 400px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (max-width: 767px) {
  .message {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.message__menu {
  position: absolute;
  top: 23px;
  right: 24px;
}

.message__list {
  margin-bottom: 8px;
}

.message__item {
  display: flex;
  gap: 13px;
  width: 100%;
  max-height: 100%;
  padding-bottom: 24px;
}
.message__item:not(:last-of-type) {
  position: relative;
  margin-bottom: 24px;
}
.message__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(221, 221, 221);
}

.message__content {
  flex-basis: 100%;
}

.message__name {
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .message__name:hover {
    text-decoration-color: inherit;
  }
}

.message__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #98A4B5;
}

.contact {
  position: relative;
  padding: 24px 24px 19px 20px;
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .contact {
    position: absolute;
    right: 26px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    position: absolute;
    right: 26px;
    bottom: 70px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
  }
}
@media (max-width: 767px) {
  .contact {
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 175px);
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    overflow-y: auto;
  }
}

.contact__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.contact__menu {
  position: absolute;
  top: 25px;
  right: 24px;
}

.contact__form {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.contact__form label {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.contact__form .contact__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98A4B5;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.contact__form input {
  width: 100%;
  padding: 5px 10px 5px 59px;
  height: 48px;
  background-color: #F4F7F9;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #98A4B5;
  border-radius: 12px;
  border: none;
}
.contact__form input:valid ~ .contact__label, .contact__form input:focus ~ .contact__label {
  opacity: 0;
}

.contact__search {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 12px 14px 9px 21px;
  transform: translateY(-50%);
}

.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 100%;
}
.contact__item:not(:last-of-type) {
  margin-bottom: 24px;
}

.contact__name {
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  margin-right: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .contact__name:hover {
    text-decoration-color: inherit;
  }
}

.contact__chat {
  margin-right: 8px;
}

.main__content {
  padding: 24px;
  background-color: #F4F7F9;
}
@media (max-width: 767px) {
  .main__content {
    padding: 20px 14px;
  }
}

.main__heading {
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #000;
}

.main__header {
  display: flex;
  justify-content: space-between;
  gap: 2.236%;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .main__header {
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 31.8425%;
  padding: 23px 24px 24px;
  background-color: #fff;
  border-radius: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    padding: 14px;
  }
}

.card--blue {
  color: #56B5D2;
}

.card--yellow {
  color: #FC9680;
}

.card--red {
  color: #8365D7;
}

.card__image {
  max-height: 50px;
  margin-right: 16px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card__image {
    margin-right: 8px;
  }
}

.card__content {
  margin-right: auto;
}

.card__title {
  display: block;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #98A4B5;
}

.card__value {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #303E65;
}

.card__increment {
  min-width: 66px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: inherit;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card__increment {
    min-width: auto;
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px 2.15%;
  width: 100%;
  max-height: 100%;
  margin-bottom: 25px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .dashboard {
    gap: 20px 2.7%;
  }
}

.dashboard__item {
  flex-basis: 33.6%;
  position: relative;
  min-height: 377px;
  padding: 24px 23px 10px;
  background-color: #fff;
  border-radius: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .dashboard__item {
    flex-basis: 48.61%;
  }
  .dashboard__item:nth-last-child(2) {
    order: 4;
  }
  .dashboard__item:last-child {
    order: 3;
  }
}
@media (max-width: 767px) {
  .dashboard__item {
    flex-basis: 100%;
    padding: 10px;
  }
}

.dashboard__item--wide {
  flex-basis: 64.25%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .dashboard__item--wide {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .dashboard__item--wide {
    flex-basis: 100%;
  }
}

.highcharts-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}

.dashboard__areaspline {
  width: calc(100% - 5px);
  height: 286px;
}

.dashboard__active {
  position: absolute;
  top: 70px;
  left: 34px;
  width: 58px;
  height: 26px;
  background-color: #56B5D2;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .dashboard__active:hover {
    opacity: 0.7;
  }
}

.dashboard__description {
  display: flex;
  gap: 20px;
  padding: 4px 0 6px 20px;
  max-height: 100%;
}
.dashboard__description > div {
  flex: 1;
}
@media (max-width: 767px) {
  .dashboard__description {
    padding: 4px 0 0 20px;
  }
}

.dashboard__text {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #98A4B5;
}
@media (max-width: 767px) {
  .dashboard__text {
    margin-bottom: 6px;
  }
}

.dashboard__value {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #333333;
}

.dashboard__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #56B5D2;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .dashboard__link:hover {
    text-decoration-color: inherit;
  }
}

.reviews {
  width: 100%;
}
@media (min-width: 1200px) {
  .reviews:hover .swiper-scrollbar {
    transform: translateY(0);
  }
}

.reviews__heading {
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.reviews__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

@media (min-width: 1200px) {
  .swiper-scrollbar {
    transform: translateY(10px);
    transition: transform 0.3s ease-in;
  }
}

.review {
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 12px;
  user-select: none;
}

.review__header {
  display: flex;
  width: 100%;
  max-height: 100%;
  margin-bottom: 35px;
}

.review__image {
  max-height: 42px;
}

.review__info {
  margin-left: 13px;
}

.review__name {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .review__name:hover {
    text-decoration-color: inherit;
  }
}

.review__ago {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #98A4B5;
}

.review__text {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.review__stars {
  margin-bottom: 18px;
}
.review__stars img {
  margin-right: 8px;
}

.person-modal {
  max-width: 550px;
  width: 100%;
  padding: 36px;
  background-color: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
@media (max-width: 767px) {
  .person-modal {
    inset: auto 0 0;
    min-width: 100%;
    margin: 0;
    padding: 30px 22px 36px;
    border: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 100px 0 #fff, 0 2px 40px 0 rgba(0, 0, 0, 0.24);
  }
}
.person-modal[open] {
  animation: fade-in 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .person-modal[open] {
    animation: slide-up 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.1);
  }
}

.person-modal > div {
  display: none;
}

.person-modal > div.active {
  display: block;
}

.person-modal::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.person-modal.hidden {
  animation: fade-out 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .person-modal.hidden {
    animation: slide-down 0.5s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
}
@keyframes slide-down {
  to {
    transform: translateY(100%);
  }
}
.btn--close {
  position: absolute;
  top: 32px;
  right: 25px;
}
@media (min-width: 1200px) {
  .btn--close {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .btn--close:hover {
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .btn--close {
    top: 19px;
    right: 18px;
  }
}

@media (max-width: 767px) {
  .dialog-close-desktop {
    display: none;
  }
}

.dialog-close-mobile {
  display: none;
}
@media (max-width: 767px) {
  .dialog-close-mobile {
    display: block;
  }
}

.person-modal__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.person-modal__name {
  margin-left: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;
}
@media (max-width: 767px) {
  .person-modal__name {
    margin-left: 30px;
  }
}

.person-modal__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #98A4B5;
}

@media (max-width: 767px) {
  .person-modal__image--desktop {
    display: none;
  }
}

.person-modal__image--mobile {
  display: none;
}
@media (max-width: 767px) {
  .person-modal__image--mobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
